@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css");
body {
    background: #f6f6f6;
}
.text-white {
    color: #a09786 !important;
}

::selection {
    color: #a09786 !important;
    background: transparent !important;

}

a.text-white-hover:hover, a.text-white-hover:focus {color:#a09786 !important;}

.hover-title-box {
    top: 37% !important;
}

#selfIntro-resume {
    margin-right: 10%;
    font-size: 15px;

}
#selfIntro-resume:hover {
    font-weight: 900;
    font-size: 20px;
    color: #ff7372;
}

#selfIntro-blog:hover {
    font-weight: 900;
    font-size: 20px;
    color: #ff7372;
}

#selfIntro-projects {
    margin-right: 10%;
    font-size: 15px;
}

#selfIntro-projects:hover {
    font-weight: 900;
    font-size: 20px;
    color: #ff7372;
}

#selfIntro-projects:hover {
    font-weight: 900;
    font-size: 20px;
    color: #ff7372;
}